* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto';
    src: url('../Fonts/Roboto-Bold.ttf') format(ttf);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Roboto';
    src: url('../Fonts/Roboto-Thin.ttf') format(ttf);
    font-style: normal;
    font-weight: 300;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #f1f1f1;
}

.main {
    padding-top: 40px;
    padding-bottom: 40px;
}

.container {
    max-width: 75%;
    margin: auto;
    background: #fff;
    height: 95%;
}

.header {
    text-align: center;
    padding-top: 30px;
}

.header p {
    padding-top: 15px;
    max-width: 50%;
    margin: auto;
    line-height: 1.6;
}

.card-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    padding: 30px 30px 30px 37px;
}

.card {
    /* border: 1px solid black; */
    min-height: 350px;
    width: 100%;
}

.image {
    text-align: center;
}

.image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-txt {
    padding-top: 20px;
    padding-left: 20px;
}

.card-txt h3 {
    padding-bottom: 10px;
    padding-right: 20px;
    font-weight: 700;
}

.card-txt p {
    padding-bottom: 10px;
    padding-right: 10px;
    line-height: 1.6;
    color: #808080;
    font-weight: 300;
}


/* Media quries */

@media screen and (max-width: 768px) {
    .card-main {
        grid-template-columns: 1fr 1fr;
    }
    .container {
        max-width: 90%;
    }
}

@media screen and (max-width: 550px) {
    .card-main {
        grid-template-columns: 1fr;
    }
    .container {
        max-width: 90%;
    }
}